<ion-view view-title="国宝酒业">
    <ion-content class="">
        <!-- Slider using slide box -->
        <ion-slide-box class="full-image" auto-play="true">

            <ion-slide ng-repeat="slide in slides">
                <div class="box">
                    <a href="" ui-sref="detail({ id: slide.id })"> <img class="full-image" ng-src="{{ slide.images }}" alt=""/></a>
                </div>
            </ion-slide>

        </ion-slide-box>
        <!-- List of quan: 2 columns-->
        <div class="row flex-wrap">
            <div class="col-50" ng-repeat="item in quan">
                <a ui-sref="detail">
                    <img class="full-image" ng-src="{{ item.url }}" alt="" data-price="{{item.quan_price}}"/>
                </a>
            </div>
        </div>
        <!-- List of items: 2 columns-->
        <div class="row flex-wrap">
            <div class="col-50" ng-repeat="item in products">
                <a ui-sref="detail">
                    <img class="full-image" src="{{ item.thumb }}" alt=""/>
                    <span class="product-title">{{ item.name }}</span>
                    <span class="price dark" ng-if="!item.sale_price">${{ item.price }}</span>
                    <span class="price dark" ng-if="item.sale_price">${{ item.sale_price}}</span>
                    <span class="old-price" ng-if="item.sale_price">${{ item.price }}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
