<ion-view view-title="Login" hide-nav-bar="true" class="stable-bg">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="energized ion-bag"></i>
      </h1>
      <h2 class="energized">国宝酒业商城</h2>
    </div>

    <!-- Login form -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="用户名">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="密码">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-energized" ui-sref="home">
        登陆
      </button>
    </div>



    <!-- Other links -->
    <div class="padding row">
      <div class="col">
        <span class="dark">忘记密码?</span>
      </div>
      <div class="col">
        <a ui-sref="register" class="dark">注册</a>
      </div>
    </div>
  </ion-content>
</ion-view>
